#include <iostream>
#include <conio.h>
#define SWAP(a,b) {int aux; aux=a;a=b;b=aux;}
using namespace std;
int a,b,aux;
int main()
{
    cout<<"Introduceti cele 2 nr"<<endl;
    cin>>a>>b;
    SWAP(a,b);
    cout<<a<<" "<<b;

}
